.dropdown .trigger {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.dropdown .trigger::after {
  content: ">";
  font-weight: bold;
  display: inline-block;
  position: absolute;
  right: 15px;
  transform-origin: 43% 57%;
  transform: scaleX(0.5);
  transition: transform 0.3s;
}

.dropdown .trigger.active::after {
  transform: rotate(90deg) scaleX(0.5);
}

.dropdown .content {
  display: none;
}

.dropdown .content.active {
  display: block;
}
